.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: calc(100vh - 40px); /* 20px for each padding */
}

.section {
    margin: 20px ;
    border-radius: 80px;
}


#welcome-right-half {
  display: flex;
  flex-direction: column;


  position: relative;

  padding: 50px 0px;

  background-color: white;
  align-items: center;
  text-align: center;
}

#welcome-left-half {
  overflow: hidden;
}

#back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;

  position: absolute;
  top: 60px;
  left: 60px;

  background-color: #ffffff;
  border: 2px #000000 solid;
  border-radius: 40px;

  cursor: pointer;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

}