#welcome-right-half {
  justify-content: space-between;
}

#welcome-right-half span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-right-half p {
  margin-top: 10px;
  max-width: 450px;
}

#next-button {
  width: 60px;
  height: 60px;

  background-color: #a8879d;
  border-radius: 60px;

  border-style: none;

  cursor: pointer;
}

.athlete-pic {
height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

  filter: brightness(50%);
  border-radius: 80px;
}

.cartoon-img {
  height: 25vh;
  max-height: 300px;
  margin: 50px 0px;
}

.title {
  margin-bottom: 10px;
}

.description {
  margin-bottom: 20px;
}