#content {
  align-items: center;
}

#diagram {
    display: flex;
    flex-direction: row;
    text-align: center;

    margin-top: 20px;
}

.process-step {
    position: relative;
    margin: 20px;
}

.process-info {
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    padding: 20px 30px;
    max-width: 300px;

    border: 1px solid var(--border-color, black);
}

a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  text-decoration: none;
  background-color: #A8879D;
  color: white;

  margin: 20px 0px;
  padding: 20px;
  border-radius: 100px;
  width: 20vw;
}

a img {
  position: absolute;
  right: 25px;
  height: 16px;
}

p {
  font-size: 15px;
}



.process-step .process-info {
  position: relative;
  z-index: 2;
  background: white;
}

.process-img {
  position: relative;
  z-index: 1;
  background-color: #e0e0e0;
  width: 100px;
  height: 100px;
}

.process-step:not(:last-child) .process-img-container::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 250px;
  height: 200px;
  border-left: 2px dotted green;
  border-top: 2px dotted green;
  z-index: 1;
}

.process-step:last-child .process-img-container::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 0px;
  height: 200px;
  border-left: 2px dotted green;
  z-index: 1;
}


@media (max-width: 1000px) {
  #diagram {
    flex-direction: column;
  }
  .process-step {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .process-step:not(:last-child) .process-img-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50px;
    width: 250px;
    height: 200px;
    border-left: 2px dotted blue;
    border-top: 2px dotted blue;
    z-index: 1;
  }

  .process-step:last-child .process-img-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50px;
    width: 0px;
    height: 200px;
    border-top: 2px dotted red;
    z-index: 1;
  }
}