.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100vh;
}

.section {
  margin: 20px ;
  border-radius: 80px;
}

#welcome-left-half {
  overflow: hidden;
}

#welcome-right-half {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  position: relative;

  padding: 50px 0px;

  background-color: white;
  align-items: center;
  text-align: center;
}

#welcome-right-half span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-right-half p {
  margin-top: 10px;
  max-width: 450px;
}

#next-button {
  width: 60px;
  height: 60px;

  background-color: #a8879d;
  border-radius: 60px;
  border-style: none;

  cursor: pointer;
}

#back-button {
  margin-top: px;
  width: 40px;
  height: 40px;

  position: absolute;
  top: 60px;
  left: 60px;

  background-color: #ffffff;
  border: 2px #000000 solid;
  border-radius: 40px;

  cursor: pointer;
}

.athlete-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

  filter: brightness(50%);
  border-radius: 80px;
}

.cartoon-img {
  height: 25vh;
  max-height: 300px;
  margin-top: 40px;
}

@media (max-width: 1000px) { /* adjust breakpoint as needed */
  .container {
    grid-template-columns: 1fr; /* single column */
    grid-template-rows: 1fr 1fr; /* two rows */
  }

}