{% extends "base.html" %} 
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'demo/profile_detail/style.css' %}" />

<style>
  body {
    background-color: {{ colour }};
  }
</style>
{% endblock %} 

{% block content %}
<div class="welcome-block">
  <p>Welcome to</p>
  <img class="green_logo" src="{% static 'green_logo.svg' %}" />
  <h4>You selected {{name}}'s Profile</h4>
  <p>The profile details are generated based on the client's specific goal and lifestyle information inputted by you</p>
</div>

<img class="user-photo" src="{% static 'demo/select/' %}{{name}}.png" />
<div class="user-info">
  <div class="section-pii info-block">
    <div class="circle-crop">
      <img src="{% static 'demo/select/' %}{{name}}.png" />
    </div>
    <span>
      <h4>{{ name }}</h4>
      <p>Age: {{ age }}</p>
    </span>
  </div>
  <div class="info-block">
    <h4>Ethnicity</h4>
    <p>{{ethnicity}}</p>
  </div>
  <div class="info-block">
    <h4>Allergies</h4>
    <p>{{allergies}}</p>
  </div>
  <div class="user-sport info-block">
    <h4>Sport:</h4>
    <p>{{ sport }}</p>
  </div>
  <div class="user-fitness info-block">
    <h4>Fitness Goal:</h4>
    <p>{{ goal.fitness }}</p>
  </div>
  <div class="user-nutrition info-block">
    <h4>Nutrition Goal:</h4>
    <p>{{ goal.nutrition }}</p>
  </div>
</div>
<div class="info-block">
  <span class="section-title">
    <img src="{% static 'demo/profile_detail/fitness_goal.svg' %}" />
    <h3>Fitness Goal</h3>
  </span>
  <div>
    <p>{{ goal.nutrition }}</p>
  </div>
</div>
<div class="info-block">
  <span class="section-title">
    <img src="{% static 'demo/profile_detail/nutrition_goal.svg' %}" />
    <h3>Nutrition Goal</h3>
  </span>
  <div>
    <p>{{ goal.nutrition }}</p>
  </div>
</div>
<div class="weekly-exercise-section info-block">
  <span class="section-title">
    <img src="{% static 'demo/profile_detail/weekly_exercise.svg' %}" />
    <h3>Weekly Exercise Routine</h3>
  </span>
  {% for day, routine in weekly_routine.items %}
  <div>
    <h4>{{ day }}:</h4>
    <p>{{ routine }}</p>
  </div>
  {% endfor %}
</div>
<div class="food-log-section info-block">
  <span class="section-title">
    <img src="{% static 'demo/profile_detail/food_log.svg' %}" />
    <h3>Daily Food Log</h3>
  </span>
  {% for time, food in food_log.items %}
  <div>
    <h4>{{ time }}:</h4>
    <p>{{ food }}</p>
  </div>
  {% endfor %}
</div>

{% endblock %}
