{% extends 'demo/two_column_layout.html' %}
{% load static %}

{% block inner_styles %}
  <link rel="stylesheet" href="{% static 'demo/welcome/style.css' %}" />
{% endblock %}

{% block left_content %}
  <img class="athlete-pic" src="{% static page.photo_url %}" alt="{{ page.photo_alt }}" />
{% endblock %}

{% block right_content %}
  <span>
    <div>Welcome to</div>
    <img src="{% static 'green_logo.svg' %}" alt="Omiver Logo" />
  </span>

  <span>
    <img class="cartoon-img" src="{% static page.cartoon_url %}" alt="{{ page.cartoon_alt }}" />

    <h2>{{ page.heading }}</h2>
    <p>{{ page.description }}</p>
  </span>
  <button id="next-button" hx-get="{% url 'welcome_page' index|add:1 %}" hx-target="#content" hx-swap="innerHTML"><img src="{% static 'next_arrow.svg' %}" /></button>
{% endblock %}
