{% load static %}
<footer>
  <p class="disclaimer">Omiver is a wellness technology company and not a laboratory or medical provider. All laboratory services are provided by independent third parties. Omiver is cannot diagnose you with any disease or condition. Omiver tests are intended exclusively for wellness purposes, and are not intended as a substitute for medical for anyone and everyone who would like to take charge of their nutrition and fitness management by receiving data regarding their blood metabolome. Omiver advice or advice of a medical professional.</p>

  <div class="options">
    <p>Omiver Nutrition© Copyright 2025</p>
    <img src="{% static '/r.svg' %}" />
    <span>
      <a href="/privacy">Privacy Policy</a>
      <p>|</p>
      <a href="/terms">Terms of Service</a>
    </span>
  </div>
</footer>
