{% extends 'core/base.html' %}
{% load static %}

{% block inner_styles %}
  <link rel="stylesheet" href="{% static 'core/information/style.css' %}" />

  <script>
    function initMobileSliders() {
      if (window.innerWidth > 1000) return // only mobile
    
      const sliders = document.querySelectorAll('.mobile-slider')
      sliders.forEach((slider) => {
        const items = slider.querySelectorAll('.slider-item')
        let currentIndex = 0
    
        items.forEach((item, index) => item.classList.toggle('active', index === currentIndex))
    
        const prevBtn = slider.querySelector('.prev-btn')
        const nextBtn = slider.querySelector('.next-btn')
    
        prevBtn.addEventListener('click', () => {
          items[currentIndex].classList.remove('active')
          currentIndex = (currentIndex - 1 + items.length) % items.length
          items[currentIndex].classList.add('active')
        })
    
        nextBtn.addEventListener('click', () => {
          items[currentIndex].classList.remove('active')
          currentIndex = (currentIndex + 1) % items.length
          items[currentIndex].classList.add('active')
        })
      })
    }
    
    window.addEventListener('load', initMobileSliders)
    window.addEventListener('resize', initMobileSliders)
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // For the response message from the contact us form
      document.body.addEventListener('htmx:afterSwap', (e) => {
        const response = document.querySelector('.form-response')
        if (response) {
          setTimeout(() => {
            response.style.opacity = 0
            setTimeout(() => response.remove(), 300)
          }, 2000)
        }
      })
    })
  </script>
{% endblock %}

{% block inner_content %}
  <div class="page-section our-process-box">
    <p class="section-title">Our Process</p>
    <h1 class="section-description">Omiver works with you the whole way, from sample collection to report generation</h1>

    <div class="main-infographic">
      <div class="left-column mobile-slider">
        <div class="slider-wrapper">
          <div class="point-info-box slider-item">
            <div class="info-icon">
              <img src="{% static 'core/information/profile_icon.svg' %}" />
            </div>
            <span>
              <h3>Model Platform</h3>
              <h4>Biodemographic and lifestyle assessment</h4>
            </span>
          </div>
          <div class="point-info-box slider-item">
            <div class="info-icon">
              <img src="{% static 'core/information/beaker_icon.svg' %}" />
            </div>
            <span>
              <h3>Sample Collection</h3>
              <h4>At-home testing kits for whole blood samples</h4>
            </span>
          </div>
          <div class="point-info-box slider-item">
            <div class="info-icon">
              <img src="{% static 'core/information/molecule_icon.svg' %}" />
            </div>
            <span>
              <h3>Biomarker Assessment</h3>
              <h4>MS-based metabolomics data acquisition</h4>
            </span>
          </div>
          <div class="point-info-box slider-item">
            <div class="info-icon">
              <img src="{% static 'core/information/gear_icon.svg' %}" />
            </div>
            <span>
              <h3>Model Integration</h3>
              <h4>Proprietary model for individualized recommendations</h4>
            </span>
          </div>
          <div class="point-info-box slider-item">
            <div class="info-icon">
              <img src="{% static 'core/information/megaphone_icon.svg' %}" />
            </div>
            <span>
              <h3>Platform Reporting</h3>
              <h4>Platform access for monitoring and feedback reporting</h4>
            </span>
          </div>
        </div>

        <div class="slider-buttons">
          <button class="prev-btn">‹</button>
          <button class="next-btn">›</button>
        </div>
      </div>
      <div class="right-column">
        <img src="{% static 'core/information/report_screenshot.png' %}" />
      </div>
    </div>
  </div>

  <div class="page-section measuring-metabolites-box">
    <p class="section-title">Measuring Metabolites</p>
    <h1 class="section-description">Metabolomic biomarkers measures your specific physiological state</h1>
    <div class="main-infographic">
      <div class="left-column mobile-slider">
        <div class="slider-wrapper">
          <div class="point-info-box slider-item">
            <div class="info-icon">
              <img src="{% static 'core/information/molecule_icon.svg' %}" />
            </div>
            <span>
              <h3>Study of Metabolomics</h3>
              <h4>Metabolomics is the study of the metabolome, the complete set of metabolites found within a biological sample.</h4>
            </span>
          </div>
          <div class="point-info-box slider-item">
            <div class="info-icon">
              <img src="{% static 'core/information/eyeball_icon.svg' %}" />
            </div>
            <span>
              <h3>Physiological state</h3>
              <h4>By measuring the metabolites in a sample, we can get a direct readout of physiological state, i.e. what is happening in the system at that time point.</h4>
            </span>
          </div>
          <div class="point-info-box slider-item">
            <div class="info-icon">
              <img src="{% static 'core/information/gear_icon.svg' %}" />
            </div>
            <span>
              <h3>MS-based</h3>
              <h4>Our services utilize MS-based approaches to identify and quantify our metabolite biomarkers. Since each metabolite has a characteristic mass-spectrometry spectra, we can use MS to identify chemical patterns.</h4>
            </span>
          </div>
        </div>
        <div class="slider-buttons">
          <button class="prev-btn">‹</button>
          <button class="next-btn">›</button>
        </div>
      </div>
      <div class="right-column">
        <img src="{% static 'core/information/workflow_screenshot.png' %}" />
      </div>
    </div>
  </div>

  <div class="page-section our-test-kit-box">
    <p class="section-title">Our Test Kit</p>
    <h1 class="section-description">Our test kit encompasses 200+ biomarkers specifically related to nutrition & fitness performance</h1>
    <div class="mobile-slider">
      <div class="main-infographic slider-wrapper">
        <span class="left-column slider-item">
          <div class="checkmark-item">
            <h2>Amino Acids</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
          <div class="checkmark-item">
            <h2>Nucleotides</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
          <div class="checkmark-item">
            <h2>Lipids</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
          <div class="checkmark-item">
            <h2>Phenolic Acids</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
          <div class="checkmark-item">
            <h2>Carnitines</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
          <div class="checkmark-item">
            <h2>Sulfurous Metabolites</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
          <div class="checkmark-item">
            <h2>Phenolic lipids</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
          <div class="checkmark-item">
            <h2>Alkylresorcinols</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
        </span>
        <span class="right-column slider-item">
          <div class="checkmark-item">
            <h2>Carbohydrates</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
          <div class="checkmark-item">
            <h2>Fatty Acids</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
          <div class="checkmark-item">
            <h2>Sphingomyelins</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
          <div class="checkmark-item">
            <h2>Flavonoids</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
          <div class="checkmark-item">
            <h2>Carotenoids</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
          <div class="checkmark-item">
            <h2>Organic Acids</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
          <div class="checkmark-item">
            <h2>Methylxanthines</h2>
            <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
          </div>
        </span>
      </div>

      <div class="slider-buttons">
        <button class="prev-btn">‹</button>
        <button class="next-btn">›</button>
      </div>
    </div>
  </div>

  <div class="page-section our-platform-box">
    <p class="section-title">Our Platform</p>
    <h1 class="section-description">Our recommendation platform that continuously adapts to user feedback and up-to-date literature</h1>
    <p class="our-platform-subtext">Our platform integrates extensive biomarker data with their lifestyle information generates plans for nutritionists catered to their clients needs, and our AI model adapts by incorporating user feedback and the latest research to refine our recommendations.</p>
    <a>Contact us to try our Demo<img src="{% static 'core/information/diagonal_icon.svg' %}" /></a>
    <img src="{% static 'core/information/three_device_screenshot.png' %}" />
  </div>

  <div class="page-section contact-us-block main-infographic">
    <form class="left-column" hx-post="{% url 'send-email' %}" hx-target="#contact-form-response" hx-swap="innerHTML">
      {% csrf_token %}
      <span>
        <label class="contact-me-input">
          <h4>Full name</h4>
          <input name="name" placeholder="write..." />
        </label>
        <label class="contact-me-input">
          <h4>Email</h4>
          <input name="email" placeholder="write..." />
        </label>
      </span>
      <span>
        <label class="contact-me-input">
          <h4>Message</h4>
          <textarea name="message" placeholder="write..."></textarea>
          <button type="submit" class="submit-button">
            Submit
            <img src="{% static 'core/information/diagonal_icon.svg' %}" />
          </button>
        </label>
      </span>
    </form>
    <div class="right-column">
      <div class="point-info-box">
        <div class="info-icon">
          <div class="icon-border-div">
            <img src="{% static 'core/information/headset_icon.svg' %}" />
          </div>
        </div>
        <span>
          <h3>Call</h3>
          <h4>(609) 588-3379</h4>
        </span>
      </div>
      <div class="point-info-box">
        <div class="info-icon">
          <div class="icon-border-div">
            <img src="{% static 'core/information/message_icon.svg' %}" />
          </div>
        </div>
        <span>
          <h3>Message</h3>
          <h4>omivernutrition@gmail.com</h4>
        </span>
      </div>
      <div class="point-info-box">
        <div class="info-icon">
          <div class="icon-border-div">
            <img src="{% static 'core/information/linkedin_icon.svg' %}" />
          </div>
        </div>
        <span>
          <h3>LinkedIn</h3>
          <h4>@omivernutrition</h4>
        </span>
      </div>
      <div class="point-info-box">
        <div class="info-icon">
          <div class="icon-border-div">
            <img src="{% static 'core/information/instagram_icon.svg' %}" />
          </div>
        </div>
        <span>
          <h3>Instagram</h3>
          <h4>@omivernutrition</h4>
        </span>
      </div>
    </div>
  </div>
  <div id="contact-form-response"></div>
{% endblock %}
