{% extends 'demo/two_column_layout.html' %}
{% load static %}
{% load component_tags %}


{% block inner_inner_styles %}
  <link rel="stylesheet" href="{% static 'core/login/style.css' %}" />
{% endblock %}

{% block left_content %}
  <img class="athlete-pic" src="{% static 'core/login/athlete.png' %}" alt="An athlete running into the sunset" />
{% endblock %}


{% block back_button_attrs %}
  href="{% url 'welcome_default_page' %}"
{% endblock %}


{% block right_content %}
  <p class="section-title">Login to Account</p>
  <img class="logo" src="{% static 'green_logo.svg' %}" alt="Omiver Logo" />


  {% if messages %}
    <ul>
      {% for message in messages %}
        <li class="error-message">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <span class="inputs">
      <input type="text" name="username" id="username" placeholder="Email" required />
      <input type="password" name="password" id="password" placeholder="Password" required />
    </span>
    <button class="action-button login-button" type="submit">Login <img src="{% static 'next_arrow.svg' %}" /></button>
    <h3 id="or-text"><span>OR</span></h3>
    <button class="action-button DEMO-ACTION">Create Account <img src="{% static 'next_arrow.svg' %}" /></button>
  </form>

  {% component "demo_modal" / %}

{% endblock %}
