.welcome-block {
  width: 100%;
}

#content {
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 5px;
}

.green_logo {
  margin-bottom: 10px;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 10px;
  padding-right: 50px;
  margin: 10px;

}

.user-info .info-block {
  margin: 0;
} 

.section-title {
  display: inline-flex;
  margin: 0px;
  margin-bottom: 15px;
  align-items: center;
}

.section-title img {
  margin-right: 10px;
}

.section-block {
  border-radius: 25px;
  padding: 20px;
  background-color: white;

  margin: 5px;
}

.img-block {
  padding: 0;
  overflow: hidden;
}

.img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.user-photo {
  width: 50vw;
  max-height: 435px;
  object-fit: cover;
  object-position: top;
  margin: 0;
  padding: 0;
}

.circle-crop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.circle-crop img {
  width: 120px;
  height: auto;
  object-fit: cover;
  object-position: top;
  object-position: center;
  transform: translateY(-10px);
}

.user-info {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 15px;
  grid-auto-flow: row;
}

.user-sport,
.user-fitness,
.user-nutrition {
  grid-column: 1 / -1;
}

.section-pii {
  display: inline-flex;
  padding: 16px;
}

#disclaimer-block {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  padding: 15px;

  border-radius: 100px;
  grid-column: 1 / -1;
}

#disclaimer-block > p {
  opacity: 100%;
}

a {
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  text-decoration: none;
  background-color: #A8879D;
  color: white;

  margin: 20px 0px;
  padding: 20px;
  border-radius: 100px;
  width: 20vw;
}

a img {
  position: absolute;
  right: 25px;
  height: 16px;
}