#content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 5px;
}

.green_logo {
  margin-bottom: 10px;
}

#content > div > div {
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 10px;
}

.welcome-block {
  background-color: white;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
}

.welcome-block hr {
  width: 70%;
  margin: 5px auto;
}

.user-photo {
  width: 50vw;
  max-height: 435px;
  object-fit: cover;
  object-position: top;
  margin: 0;
  padding: 0;
}
.circle-crop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}

.circle-crop img {
  width: 120px;
  height: auto;
  object-fit: cover;
  object-position: top;
  object-position: center;
  transform: translateY(-10px);
}

.user-info {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 15px;
  grid-auto-flow: row;
}

#disclaimer-block,
.welcome-block,
.user-sport,
.user-fitness,
.user-nutrition {
  grid-column: 1 / -1;
}


.user-sport,
.user-fitness,
.user-nutrition {
  padding-right: 15px;
}

.weekly-exercise-section > div,
.food-log-section > div {
 margin-top: 15px;
}

h3 {
  font-weight: 500;
}

h4 {
  margin: 0px;
}

p {
  font-size: medium;
  opacity: 0.5;
  margin: 0px;
}

.section-title {
  display: inline-flex;
  margin: 0px;
}

.section-title > img {
  margin-right: 10px;
}

#content > div {
  padding: 20px;
  background-color: white;
}

.section-pii {
  display: inline-flex;
  padding: 16px;
}

.info-block {
  align-items: center;
}

#content > #disclaimer-block {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

#content > #disclaimer-block > p {
  opacity: 100%;
}

a {
  text-decoration: none;
  background-color: #A8879D;
  color: white;
  text-align: center;
  grid-column: 1 / -1;
}