
p {
  font-size: small;
}

.selection-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.selection-block .profile-block {
  background-color: white;
  border-radius: 15px;
}

.profile-block > * {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 15px;
  padding: 10px;
}

.profile-block > div > * {
  margin: 0;
}

#content > div {
  margin: 10px 7vw;
}

#disclaimer-block {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;

  text-align: center;
}

.basic-info-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basic-info-block > div > * {
  margin: 0;
  margin-left: 15px;
}

.select-profile-button {
  margin: auto;
  margin-top: 0;
  margin-bottom: 10px;
  width: calc(100% - 5vw);
  color: white;

  box-sizing: border-box;

  border-radius: 100px;

  
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.fitness-info-block, .nutrition-info-block {
  min-height: 100px;
}

#disclaimer-block {
  padding: 15px;
  border-radius: 100px;
}


@media (max-width: 1000px) {

  .selection-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
  }

  .welcome-block h4, h4 {
    font-size: xx-large;
  }
  .welcome-block p, p {
    font-size: x-large;
  }

  a {
    height: 100px;
    font-size: xx-large;
  }

  .profile-pic {
    width: 100px;
    height: 100px;
  }

}