html, body {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  padding: 20px;
  flex: 1;
}

@media (max-width: 1000px) {
  #content {
    padding: 20px 100px;
  }
}
