html, body {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  font-family: "Open Sans";
  padding: 20px;
  flex: 1;
}