{% extends 'dashboard/base.html' %}
{% load static %}
{% load component_tags %}

{% block header_title %}<h1 id="header-title">Meal Plan</h1>{% endblock %}
{% block header_actions %}
    <button class="DEMO-ACTION pill-generator-button">
        <div class="button-content">
            <div class="medical-cross">
                <div class="cross-horizontal"></div>
                <div class="cross-vertical"></div>
            </div>
            <span class="pill-text">Plan Generation</span>
        </div>
    </button>
{% endblock %}
{% block inner_styles %}
<link rel="stylesheet" href="{% static 'dashboard/plans/style.css' %}" />
{% endblock %}

{% block dashboard_content %}
<div id="info-block">
    <div class="description-info-block">
        <h4>Plans</h4>
        <p>Here you can manage your tasks, set preferences, and updates.</p>
    </div>
    <img class="cartoon" src="{% static 'dashboard/plans/banner.svg' %}" />
    <div class="ticket-info-block">
        <img src="{% static 'dashboard/plans/update.svg' %}" />
        <span>
            <h4>Last Update</h4>
            <p>20 Apr, 2025 - 12:00 pm</p>
        </span>
    </div>
    <div class="ticket-info-block">
        <img src="{% static 'dashboard/plans/activity.svg' %}" />
        <span>
            <h4>Next Activity</h4>
            <p>21 Apr, 2025 - Friday</p>
        </span>
    </div>
</div>

<div class="container">
    <h1>Recommended Weekly Training Plan</h1>
    <div class="training-grid">
        <!-- Header Row -->
        <div class="primary-header"></div>
        <div class="primary-header exercise-theme day-header">Monday</div>
        <div class="primary-header exercise-theme day-header">Tuesday</div>
        <div class="primary-header exercise-theme day-header">Wednesday</div>
        <div class="primary-header exercise-theme day-header">Thursday</div>
        <div class="primary-header exercise-theme day-header">Friday</div>
        <div class="primary-header exercise-theme day-header">Saturday</div>
        <div class="primary-header exercise-theme day-header">Sunday</div>

        <!-- Icon Row -->
        <div class="primary-header exercise-theme focus-header">Focus</div>
        {% for day, routine in training_plan.items %}
        <div class="icon-cell">
            {% if routine.Focus == "Strength" %}
                <img class="icon" src="{% static 'dashboard/plans/weight.svg' %}" />
            {% endif %}
            {% if routine.Focus == "Cardio" %}
                <img class="icon" src="{% static 'dashboard/plans/cardio.svg' %}" />
            {% endif %}
            {% if routine.Focus == "Rest" %}
                <img class="icon" src="{% static 'dashboard/plans/rest.svg' %}" />
            {% endif %}
        </div>
        {% endfor %}
        
        <!-- Training Plan Row -->
        <div class="primary-header exercise-theme">Training Plan</div>

        {% for day, routine in training_plan.items %}
        <div class="plan-cell">
            <div class="exercise">{{ routine.Plan}}</div>
        </div>
        {% endfor %}
        
        <!-- Feedback Row -->
        <div class="feedback-cell"></div>
        {% for _ in '1234567' %}
        <div class="feedback-cell">
            <div class="DEMO-ACTION feedback-btn">🔊 Feedback</div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="spacer" style="height: 24px;"></div>
<div class="horizontal-divider" style="height: 2px; background-color: #eee;"></div>
<div class="spacer" style="height: 24px;"></div>

<div class="container">
    <h1>Recommended Weekly Meal Plan</h1>
    <div class="training-grid">
        <!-- Header Row -->
        <div class="primary-header"></div>
        {% comment %} <div class="primary-header meal-theme day-header">Monday</div>
        <div class="primary-header meal-theme day-header">Tuesday</div>
        <div class="primary-header meal-theme day-header">Wednesday</div>
        <div class="primary-header meal-theme day-header">Thursday</div>
        <div class="primary-header meal-theme day-header">Friday</div>
        <div class="primary-header meal-theme day-header">Saturday</div>
        <div class="primary-header meal-theme day-header">Sunday</div> {% endcomment %}

        {% comment %} {% for time, meal in meal_plan.items %}
        <!-- meal row -->
        <div class="primary-header meal-theme focus-header">{{time}}</div>
            {% for _ in '1234567' %}
            <div class="plan-cell">
                {{ meal }}
            </div>
            {% endfor %}
        {% endfor %} {% endcomment %}

        {% for day, meal in meal_plan.items %}
        <div class="primary-header meal-theme focus-header">{{day}}</div>
        {% endfor %}

        <!-- Breakfast Row -->
        <div class="primary-header meal-theme day-header">Breakfast</div>
        {% for day, meals in meal_plan.items %}
        <div class="plan-cell">{{ meals.Breakfast }}</div>
        {% endfor %}

        <!-- Lunch Row -->
        <div class="primary-header meal-theme day-header">Lunch</div>
        {% for day, meals in meal_plan.items %}
        <div class="plan-cell">{{ meals.Lunch }}</div>
        {% endfor %}

        <!-- Dinner Row -->
        <div class="primary-header meal-theme day-header">Dinner</div>
        {% for day, meals in meal_plan.items %}
        <div class="plan-cell">{{ meals.Dinner }}</div>
        {% endfor %}

        <!-- Snacks Row -->
        <div class="primary-header meal-theme day-header">Snacks</div>
        {% for day, meals in meal_plan.items %}
        <div class="plan-cell">{{ meals.Snacks }}</div>
        {% endfor %}
        
        <!-- Feedback Row -->
        <div class="feedback-cell"></div>
        {% for _ in '1234567' %}
        <div class="feedback-cell">
            <div class="DEMO-ACTION feedback-btn">🔊 Feedback</div>
        </div>
        {% endfor %}
    </div>
</div>
{% component "demo_modal" / %}
{% endblock %}