{% extends "base.html" %} 
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'dashboard/support/style.css' %}" />
{% endblock %} 

{% block content %}

<div class="info-block">
    <h4>Support</h4>
    <p>Here you can contact our support team, get assistance, and resolve your questions</p>

    <div>
        <h6>Last Ticket</h6>
        <p>Aug 05, 2025</p>
    </div>
    <div>
        <h6>Current Ticket</h6>
        <p>Sep 05, 2025</p>
    </div>
</div>

<div class="ticket-block">
    <div class="tickets-list">
    {% for ticket in tickets %}
        <div 
        class="ticket-preview" 
        hx-get="{% url 'ticket_detail_partial' ticket.pk %}"
        hx-target="#ticket-detail"
        hx-swapp="innerHTML"
        >
            <h6>{{ ticket.title }}</h6>
            <p>{{ ticket.email }}</p>
            <p>{{ ticket.snippet }}</p>
        </div>
    {% endfor %}
    </div>
    <div id="ticket-detail">
        <p>Select a ticket to read</p>
    </div>
</div>



{% endblock content %}