.setting-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
  margin: 0px 5px;
}

.setting-block .setting-item + .setting-item {
  border-top: 1px solid #e0e0e0; 
  margin-top: 12px; 
  padding-top: 15px;
}

.setting-item .setting-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;

  background-color: #eeeeee;
  border-radius: 15px;
  padding: 30px;
}

.setting-icon img {
  height: 30px;
  width: 50px;
}

.setting-text {
  margin-left: 10px;
}

.setting-info {
  display: flex;
  flex-direction: row;
}

.proceed-icon {
  margin-right: 10px;
  cursor: pointer;
}
