body {
  background-color: white;
  margin: 0;
  height: 100%;
}

#header {
  position: relative;
  top: 0;
  left: 100px;
  right: 0;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.header-section {
  display: flex;
  flex-direction: row;
}

.header-section > * {
  margin: 5px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile-pic {
  width: 50px;
  height: 50px;
  margin-left: 40px;
}

.inner_content {
  margin-left: 120px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 15px;
}

.main-icons {
  display: flex;
  flex-direction: column;
}

.main-icons > .ibutton {
  margin: 20px;
}

#ticket-status-box {
  display: flex;
  flex-direction: row;

  align-items: center;
}

#ticket-status {
  margin-right: 10px;

  background-color: rgba(103, 153, 125, 0.1);
  color: #67997d;

  border-radius: 40%;
  padding: 7px;
}

#ticket-status-box > .ibutton {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#header h1 {
  font-weight: 100;
}