body {
  background-color: E0E0E0;

  display: flex;
  flex-direction: row;

  font-family: "Open Sans";
}

.athlete-pic {
  height: 1000px;
  filter: brightness(50%);
}

#welcome-left-half {
  border-radius: 80px;
  overflow: hidden;
}
#welcome-right-half {
  display: flex;
  flex-direction: column;
}

#welcome-left-half,
#welcome-right-half {
  flex: 1;
  height: 100vh;

  border: 2px solid green;
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
}

#welcome-right-half {
  position: relative;

  padding-top: 20px;

  background-color: white;
  border-radius: 80px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}


.submit-button {
  width: 400px;
  height: 50px;

  background-color: #a8879d;
  border-radius: 60px;
  border-style: none;

  color: white;

  padding: 0px 25px;
  
}

.submit-button {
  position: relative;
  display: flex;
  justify-content: center; /* Centers the text */
  align-items: center;
}

.submit-button img {
  position: absolute;
  right: 25px; /* 25px from the right */
  height: 16px; /* adjust size if needed */
}

#back-button {
  margin-top: px;
  width: 40px;
  height: 40px;

  position: absolute;
  top: 60px;
  left: 60px;

  background-color: #ffffff;
  border: 2px #000000 solid;
  border-radius: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 50px;
}

.section-title {
  margin-bottom: 70px;
}

.logo {
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  border-radius: 20px;
  border: none;

  height: 40px;
  margin: 5px;
  width: 400px;
  background-color: #f8f8f8;
  color: black;

  padding-left: 20px; 
}
