.athlete-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

  filter: brightness(50%);
  border-radius: 80px;
}


.submit-button {
  width: 400px;
  height: 50px;

  background-color: #a8879d;
  border-radius: 60px;
  border-style: none;

  color: white;

  padding: 0px 25px;
  
}

.submit-button {
  position: relative;
  display: flex;
  justify-content: center; /* Centers the text */
  align-items: center;
}

.submit-button img {
  position: absolute;
  right: 25px; /* 25px from the right */
  height: 16px; /* adjust size if needed */
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 50px;
}

.section-title {
  margin-bottom: 125px;
}

.logo {
  margin: 25px 0px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  border-radius: 20px;
  border: none;

  height: 40px;
  margin: 5px;
  width: 400px;
  background-color: #f8f8f8;
  color: black;

  padding-left: 20px; 
}


#or-text {
  margin: 50px 0px;
  font-size: 1.5rem;
  font-weight: 100;
}

button {
  cursor: pointer;
}