/* General styling */
.page-main{
  background-image: url("image.png");
  background-size: cover;
  background-position: top
}
.page-section {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 10px 0px;
  padding: 40px 20px;
}

.hero-header {
  padding: 0px 40px;
  text-align: center;
  margin: 20px;
  font-size: 107px;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 24px;
  color: gray;
  text-align: center;
  font-size: 26px;
  width: 50vw;
  margin-bottom: 50px;
}

.hero-cta {
  background-color: #a8879d;
  color: white;
  align-items: center;

  display: flex;
  width: fit-content;

  padding: 10px 20px;
  border-radius: 50px;
  font-size: 22px;
}

.hero-cta img {
  width: 50px;
  margin-left: 10px;
}

.section-title {
  color: #d27644;
}

.why-omiver-box {
  background-color: #A29794;
  text-align: center;
  border-radius: 15px;
  margin: 0px 100px;
  padding: 40px 0px;
}

.why-omiver-box h1 {
  color: white;
  font-size: 64px;
}

.why-omiver-title {
  color: #fff6;
}

.section-description {
  text-align: center;
  width: 70vw;
  margin-bottom: 50px;
  font-size: 60px;
}

.what-box-title {
  color: #fff6;
  font-size: 23px;
}

.what-box-paragraph {
  color: #fff;
  font-size: 20px;
  margin-right: 200px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.what-box-paragraph img {
  width: 20px;
  margin-right: 10px;
}

.what-box a {
  background-color: #a8879d;
  color: white;
  align-items: center;

  display: flex;
  width: fit-content;

  padding: 20px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 24px;
}

.what-box a img {
  width: 50px;
  margin-left: 10px;
}

.section-header {
  font-weight: Medium;
  font-size: 70px;
}

.what-box {
  border-radius: 15px;
  margin: 20px;
  padding: 40px 0px;
}

.what-box h1 {
  font-size: 86px;
  color: white;
}

.section-subtext {
  font-size: 20px;
  color: gray;
  text-align: center;
  width: 60vw;
  margin-bottom: 50px;
}

.section-paragraph {
  font-size: 20px;
  margin-right: 200px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.section-paragraph img {
  width: 20px;
  margin-right: 10px;
}

.main-infographic {
  display: flex;
  flex-direction: row;

  padding: 20px;
  border-radius: 15px;
  width: 100%;
}

.main-infographic h4 {
  color: gray;
  font-weight: 100;
}

.left-column {
  flex: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.left-column a {
  background-color: #a8879d;
  color: white;
  align-items: center;

  display: flex;
  width: fit-content;

  padding: 10px;
  border-radius: 50px;
}

.left-column img {
  width: 30px;
  margin-left: 10px;
}

.slider-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.point-info-box {
  flex: 1;

  display: flex;
  flex-direction: row;

  margin: 5px 15px;

  padding: 10px;

  align-items: center;

  border-radius: 15px;
  border: 1px solid #d8d6d7;
}

.point-info-box span {
  display: flex;
  flex-direction: column;
}

.slider-buttons {
  display: none;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 30px;
  margin: 0px 150px;
}

.tiles>* {
  min-width: 400px;
}

.tile {
  flex: 1;
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
  padding: 20px;
}

.tile-header {
  border-radius: 30px;
  padding: 20px;
}

.white {
  background-color: white;
}

.brown {
  background-color: #A29794;
}

.green {
  background-color: #67997D;
}

.red {
  background-color: #DC6874;
}

.tiles h3 {
  font-size: 36px;
  color: white;
}

.tile-price-primary {
  font-size: 36px;
  color: white;
}

.tile-price-secondary {
  font-size: 24px;
  color: #fff6;
}

.tile-content {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tile-description-primary {
  font-size: 22px;
  color: #0009;
}

.tile-description-secondary {
  font-size: 23px;
}

.tile-cta {
  color: white;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  border-radius: 50px;
  margin-top: 20px;
  padding-left: 20px;
  font-size: 24px;
}

.tile-cta img {
  width: 40px;
}

.right-column {
  flex: 1;
  margin: 20px;
}

.right-column img {
  width: 100%;
}

.info-icon {
  margin: 10px;

  border-radius: 15px;
  padding: 15px;

  display: inline-block;
}

.info-icon img {
  width: 30px;
  display: block;
}

/* Section 1 - Our Process */

.our-process-box .main-infographic {
  background-color: #efedee;

}

.our-process-box .info-icon {
  background-color: white;
}

.our-process-box a {
  font-size: 24px;
}

.our-process-box a img {
  width: 40px;
}

/* Section 2 - Measuring Metabolites */

.measuring-metabolites-box .main-infographic {
  background-color: #a29794;
}

.measuring-metabolites-box .point-info-box {
  background-color: white;
}

.measuring-metabolites-box .info-icon {
  background-color: #f7f6f7;
}


/* Section 3 - Our Test Kit */

.our-test-kit-box .checkmark-icon {
  width: auto;
  border: 1px solid black;
  padding: 10px;
  border-radius: 100px;
}

.our-test-kit-box .slider-wrapper {
  display: flex;
  flex-direction: row;
}

.checkmark-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  margin: 5px 20px;
  border-bottom: 1px solid #cccccc;
}

/* Section 4 - Our Platform */

.our-platform-box {
  background-color: #67997d;
  text-align: center;
  border-radius: 15px;

  margin: 0px 100px;
  padding-bottom: 0px;
}

.our-platform-box p,
.our-platform-box h1 {
  color: white;
}

.our-platform-subtext {
  margin-bottom: 20px;
}

.our-platform-box img {
  width: 100%;
}

.our-platform-box a {
  background-color: #a8879d;
  color: white;

  display: flex;

  margin: 30px;
  padding: 5px;
  border-radius: 50px;
}

.our-platform-box a img {
  width: 30px;
  margin-left: 5px;
}

/* Section 5 - Contact Us */

.contact-us-block {
  margin-top: 100px;
  padding: 0px 100px;
}

.contact-us-block .left-column {
  background-color: #a8879d;
  height: 100%;
  border-radius: 20px;

  padding: 20px;
}

.contact-us-block .left-column span {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.info-icon {
  background-color: #a8879d;
}

.contact-me-input {
  background-color: white;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  flex: 1;

  margin: 10px;
  padding: 15px;

  cursor: text;
}

.contact-me-input input,
.contact-me-input textarea {
  flex: 1;
  border: none;
}

.contact-us-block input:focus,
.contact-us-block textarea:focus {
  outline: none;
}

.contact-me-input textarea {
  resize: none;
}


.contact-us-block button {
  background-color: #a8879d;
  color: white;
  border: none;

  display: flex;
  align-items: center;

  padding: 5px;
  padding-left: 10px;
  border-radius: 50px;
  cursor: pointer;

  width: 100px;

  align-self: flex-end;
}

.contact-us-block button img {
  width: 30px;
  margin-left: 5px;
}

.contact-me-input textarea::placeholder,
.contact-me-input input::placeholder {
  font-family: 'Open Sans';
  font-size: small;
  color: black;
}

.icon-border-div {
  border-radius: 100px;
  border: 2px solid white;
  padding: 10px;
}



@media (max-width: 1000px) {

  /* General styling */
  .main-infographic {
    flex-direction: column;
  }

  .main-infographic .right-column {
    order: -1;
  }

  .main-infographic .left-column {
    order: 0;
  }

  .contact-us-block .right-column {
    order: 0;
    flex: 1;
  }

  .our-platform-box {
    width: 100%;
    margin: 0px;
  }

  .contact-us-block {
    padding: 0px;
  }

  .contact-us-block .left-column,
  .contact-us-block .right-column {
    margin: 20px;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .mobile-slider .slider-wrapper {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .mobile-slider .point-info-box {
    flex: 0 0 100%;
    display: none;
  }

  .mobile-slider .point-info-box.active {
    display: flex;
  }

  .mobile-slider .slider-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .mobile-slider .slider-buttons button {
    background-color: #a8879d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
}